<div id ="journals">
	<div id="journal1" class="journalTable">
		<div class="journalRow">
			<div id="journal1_left_column" class="journalColumn leftColumn">
				journal1_left_column
			</div>
			<div class="journalColumn rightColumn">
				journal1_right_column
			</div>
		</div>
	</div>

	<div id="journal2" class="journalTable">
		<div class="journalRow">
			<div class="journalColumn leftColumn">
				journal2_left_column
			</div>
			<div class="journalColumn rightColumn">
				journal2_right_column
			</div>
		</div>
	</div>

	<div id="journal3" class="journalTable">
		<div class="journalRow">
			<div class="journalColumn leftColumn">
				journal3_left_column
			</div>
			<div class="journalColumn rightColumn">
				journal3_right_column
			</div>
		</div>
	</div>
</div>
<div id ="controller">
	<div id="moveLeft">◀</div>
	<div id="moveRight">▶</div>
</div>